<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Initial Input Page</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/page_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .navbar {
            margin-bottom: 20px;
        }

        .content-container {
            margin-left: 20px;
            margin-right: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3 shadow-lg sticky-top">
        <div class="container">
            <a href="/" class="navbar-brand align-middle">
                <h3 class="m-0">
                    <img src="images/LEUU.png" alt="Logo" height="60px" width="170px">

                </h3>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#intro" class="nav-link">
                            Intro
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#services" class="nav-link">
                            Services
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#cta" class="nav-link">
                            Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#find-us" class="nav-link">
                            Find us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content-container">
        <form>
            <div class="form-element">
                <label for="region">권역 종류[노선 선택]</label>
                <select id="region" name="region">
                    <option value="구주노선">구주노선</option>
                    <option value="미주노선">미주노선</option>
                    <option value="아시아내노선">아시아내노선</option>
                </select>
            </div>
            <!-- 하단에 이미지 파일을 통한 옵션 선택 -->
            <div class="form-element">
                <label for="region"></label>
                <div class="select-route-type">
                    <img src="images/미주.png" class="img-fluid" alt="1" />
                    <img src="images/구주.png" class="img-fluid" alt="2" />
                    <img src="images/아시아.png" class="img-fluid" alt="2" />
                </div>
            </div>

            <div class="form-element hidden" id="portSection">
                <label for="departurePort">출발 항구:</label>
                <select id="departurePort" name="departurePort"></select>
            </div>

            <div class="form-element hidden">
                <label for="arrivalPort">도착 항구:</label>
                <select id="arrivalPort" name="arrivalPort"></select>
            </div>

            <div class="form-element">
                <label for="numberOfPorts">기항지의 개수:</label>
                <select id="numberOfPorts" name="numberOfPorts">
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div class="form-element">
                <label for="dmuCount">DMU 개수:</label>
                <select id="dmuCount" name="dmuCount">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>

            <div class="form-element">
                <label for="teu">TEU:</label>
                <select id="teu" name="teu">
                    <option value="2000">2000</option>
                    <option value="3000">3000</option>
                    <option value="4000">4000</option>
                </select>
            </div>

            <button type="button" id="submitBtn">제출</button>
        </form>

        <div id="selectedValues" class="info-section">
            Data
        </div>
        <div style="margin:10px"></div>

        <div class="info-item-portdata">
            <p>Transit Port</p>
            <table class="info-table-portdata">
                <thead>
                    <tr>
                        <th>DMU</th>
                        <th>출발지</th>
                        <th>도착지</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div style="margin:10px"></div>
        <div class="info-item-deadata">
            <p>DEA Input Output Variable </p>
            <table class="info-table-deadata">
                <thead>
                    <tr>
                        <th>DMU</th>
                        <th>총 수송량 (Total Cargo Volume)</th>
                        <th>수송 거리 (Distance Traveled)</th>
                        <th>운항 시간 (Operating Time)</th>
                        <th>대기 시간 (Waiting Time)</th>
                        <th>연료량 (Fuel Consumption)</th>
                        <th>작업 시간 (Working Time)</th>
                        <th>항만 비용 (Port Expenses)</th>
                        <th>자본 비용 (Capital Expenses)</th>
                        <th>선원 수 (Crew Count)</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>


        <button id="chartBtn">차트 보기</button>
        <button id="visualizeBtn">시각화</button>
    </div>

    <script src='/js/webpage/input.js'></script>
</body>

</html>