<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Europe</title>
    <link href="
    https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.css
    " rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/visual_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>


<body>
    <div id="map"></div>
    <div id='event'>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <button type="button" class="btn btn-primary" onclick="hide()">Hide</button>
            <button type="button" class="btn btn-primary" onclick="show()">Show</button>
            <button type="button" class="btn btn-primary" onclick="pause()">Pause</button>
            <button type="button" class="btn btn-primary" onclick="play()">Play</button>
        </div>
        <div style="margin:10px;"></div>
        <button type="button" class="btn btn-secondary" onclick="location.href =  './';">홈으로 이동</button>
        <div style="margin:10px;"></div>
        <button type="button" class="btn btn-secondary" onclick="location.href =  './visual_world';">월드로 이동</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-graticule@0.0.1/Leaflet.Graticule.min.js"></script>
    <script src='/js/visualization/visual_src.js'></script>
    <script src='/js/visualization/visual_europe.js'></script>

</body>