::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #fff; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: #16263f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background:  #ff8000; 
}

body,
html {
    height: 100%;
    margin: 0;
    background-color: #ff8000;
}

.content-container {
    display: flex;
    height: 100%;
    overflow: auto;
    padding: 10px;
    background-color: #16263f;
}

.text-box {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    margin-top: 10px;
    margin-right: 10px;
    font-family: Arial, sans-serif;
    font-size: 25px;
    line-height: 2;
    color: #181616;
    border-radius: 40px;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 5px 5px 5px #e4dbce;
    height: 1010px;
}


.text-box div {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 20px;
    text-align: left;
    height: 250px;
    width: 100%;
    height: 250px;
    margin: auto;
    background-color: #273c5d;
    box-shadow: 5px 5px 5px #7c8284;
    overflow: auto;
}

#chart-grid {
    flex: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 80%;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#chart-grid canvas {
    width: 100%;
    height: 100%;
}

#chart-grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #feffff;
    border-radius: 30px;
    height: 500px;
}

div {
    box-sizing: border-box;
}

.highlight {
    font-weight: bold;
    color: #812000;
}


div {
    box-sizing: border-box;
}


#popup-wrapper {
    position: fixed;
    top: 132px;
    right: -60%;
    width: 60%;
    height: 85%;
    transition: right 0.3s;
    z-index: 1000;
    background: linear-gradient(45deg, rgba(199, 209, 235, 0.9), rgba(170, 180, 206, 0.9), rgba(169, 193, 255, 0.9));
    border-radius: 15px;
    overflow-y: auto;
}


#popup-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
}

#close-btn {
    cursor: pointer;
    font-size: 2rem;
    color: #333;
    display: block;
    z-index: 1001;
    width: 10%;
    text-align: center;
}

#popup-content {
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    height: 90%;
}

#popup-content table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
}

#popup-content table,
#popup-content table th,
#popup-content table td {
    border: 0.5px solid #717a80;
    font-size: 20px;
    font-weight: bold;
}

#popup-content table th,
#popup-content table td {
    padding: 8px;
}

#popup-content table th {
    font-size: 24px;
}

#popup-content table tbody tr {
    transition: background-color 0.3s;

}

#popup-content table tbody tr:hover {
    background-color: #c5ddf7;
}